In [262]:
import pandas as pd
import numpy as np

In [263]:
data = 'train.csv'

In [357]:
df = pd.read_csv(data)

In [265]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137141 entries, 0 to 137140
Data columns (total 11 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Id                     137141 non-null  int64
 1   Make                   137141 non-null  object
 2   Vehicle Class          135816 non-null  object
 3   Engine Size(L)         120522 non-null  object
 4   Cylinders              122986 non-null  object
 5   Transmission           134536 non-null  object
 6   Fuel Type              135286 non-null  object
 7   Fuel Consumption City  134719 non-null  object
 8   Fuel Consumption Hwy   134573 non-null  object
 9   Fuel Consumption Comb  134559 non-null  object
 10  CO2 Emissions(g/km)    137141 non-null  float64
dtypes: float64(1), int64(1), object(9)
memory usage: 11.5+ MB

In [327]:
df.iloc[33:]

,Id,Make,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City,Fuel Consumption Hwy,Fuel Consumption Comb,CO2 Emissions(g/km),city_unit,hwy_unit,comb_unit
33,34,KIO,COMPACT,2.000000,4.000000,AS6,X,<bound method Series.mean of 0 8.6400...,6.720430,NaN,213.000000,L/100km,L/100km,L/100km
34,35,BARUSU,COMPACT,2.989195,5.157514,AV8,Z,16.705611,6.393862,13.910000,247.000000,L/100km,L/100km,L/100km
35,36,CHEVO,COMPACT,2.000000,5.157514,M5,X,10.416962,11.660000,10.095064,258.059742,L/100km,L/100km,L/100km
36,37,BMV,COMPACT,3.000000,6.000000,A8,Z,1.54,34.337956,16.300416,188.000000,L/100km,L/100km,L/100km
37,38,CHEVO,SUBCOMPACT,2.989195,6.000000,AS8,X,5.473454,0.102000,7.621951,230.000000,L/100km,L/100km,L/100km
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137136,137137,BMV,SUBCOMPACT,2.989195,8.000000,AS8,Z,33.71,7.698229,22.026432,275.000000,L/100km,L/100km,L/100km
137137,137138,GONDA,STATION WAGON - SMALL,1.500000,4.000000,M6,X,6.489293,0.870000,3.961182,166.000000,L/100km,L/100km,L/100km
137138,137139,NIRRAN,MID-SIZE,1.800000,4.000000,AV,X,2.99,8.380000,4.506898,181.000000,L/100km,L/100km,L/100km
137139,137140,TOYOTI,COMPACT,1.800000,4.000000,NA,X,11.48,0.184361,0.064000,123.000000,L/100km,L/100km,L/100km
137140,137141,BARUSU,MID-SIZE,2.500000,4.000000,AV6,X,3.36,0.028000,3.098853,182.000000,L/100km,L/100km,L/100km

In [380]:
missing_value = df.isnull().sum()
missing_value[0:11]

Id                       0
Make                     0
Vehicle Class            0
Engine Size(L)           0
Cylinders                0
Transmission             0
Fuel Type                0
Fuel Consumption City    0
Fuel Consumption Hwy     0
Fuel Consumption Comb    0
CO2 Emissions(g/km)      0
dtype: int64

In [316]:
null_indexes = df[df['Fuel Consumption Comb'].isnull()].index
null_indexes

Index([    33,    197,    344,    576,   1084,   1311,   1405,   1469,   1624,
         1973,
       ...
       134493, 134739, 135286, 135528, 135536, 135746, 135878, 136025, 136216,
       136529],
      dtype='int64', length=592)

In [352]:
df

,Id,Make,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City,Fuel Consumption Hwy,Fuel Consumption Comb,CO2 Emissions(g/km),city_unit,hwy_unit,comb_unit
0,1,FOLD,PICKUP TRUCK - STANDARD,3.500000,6.000000,A6,X,8.640000,6.140000,6.257382,306.0,L/100km,L/100km,L/100km
1,2,CHEVO,PICKUP TRUCK - STANDARD,5.300000,5.157514,A6,E,27.270000,30.760000,28.840000,283.0,L/100km,L/100km,L/100km
2,3,BMV,SUBCOMPACT,4.400000,5.157514,M6,Z,0.017000,2.030000,0.922850,329.0,L/100km,L/100km,L/100km
3,4,KIO,SUV - SMALL,2.989195,4.000000,AS6,X,15.337423,0.159000,8.507133,270.0,L/100km,L/100km,L/100km
4,5,BARUSU,MINICOMPACT,3.000000,6.000000,NA,Z,20.150000,0.060000,0.138000,193.0,L/100km,L/100km,L/100km
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137136,137137,BMV,SUBCOMPACT,2.989195,8.000000,AS8,Z,33.710000,7.698229,22.026432,275.0,L/100km,L/100km,L/100km
137137,137138,GONDA,STATION WAGON - SMALL,1.500000,4.000000,M6,X,6.489293,0.870000,3.961182,166.0,L/100km,L/100km,L/100km
137138,137139,NIRRAN,MID-SIZE,1.800000,4.000000,AV,X,2.990000,8.380000,4.506898,181.0,L/100km,L/100km,L/100km
137139,137140,TOYOTI,COMPACT,1.800000,4.000000,NA,X,11.480000,0.184361,0.064000,123.0,L/100km,L/100km,L/100km
137140,137141,BARUSU,MID-SIZE,2.500000,4.000000,AV6,X,3.360000,0.028000,3.098853,182.0,L/100km,L/100km,L/100km

In [358]:
def split_and_add_column(df, column_name):
    df[column_name] = df[column_name].astype(str)
    df['city_unit'] = df[column_name].apply(lambda x: ' '.join(str(x).split()[1:]) if pd.notna(x) and len(str(x).split()) > 1 else np.nan) 
    df[column_name] = df[column_name].apply(lambda x: str(x).split()[0] if pd.notna(x) and len(str(x).split()) > 1 else np.nan)

In [360]:
def convert_to_L_per_100km(value, unit):
    value = float(value)
    if unit == 'L/100km':
        return value
    elif unit == 'L/100 km':
        return value
    elif unit == 'liters per 100 km':
        return value
    elif unit == 'MPG (AS)':
        return 235.215 / value
    elif unit == 'km per L':
        return 100 / value
    elif unit == 'km/L':
        return 100 / value
    elif unit == 'L/10km':
        return value / 10
    elif unit == 'mpg Imp.':
        return 235.215 / value
    else:
        return np.nan

In [361]:
def split_and_add_column_hwy(df, column_name):
    df[column_name] = df[column_name].astype(str)
    df['hwy_unit'] = df[column_name].apply(lambda x: ' '.join(str(x).split()[1:]) if pd.notna(x) and len(str(x).split()) > 1 else np.nan) 
    df[column_name] = df[column_name].apply(lambda x: str(x).split()[0] if pd.notna(x) and len(str(x).split()) > 1 else np.nan)

In [362]:
def split_and_add_column_comb(df, column_name):
    df[column_name] = df[column_name].astype(str)
    df['comb_unit'] = df[column_name].apply(lambda x: ' '.join(str(x).split()[1:]) if pd.notna(x) and len(str(x).split()) > 1 else np.nan) 
    df[column_name] = df[column_name].apply(lambda x: str(x).split()[0] if pd.notna(x) and len(str(x).split()) > 1 else np.nan)

In [363]:
split_and_add_column(df, 'Fuel Consumption City')
df['Fuel Consumption City'] = df['Fuel Consumption City'].astype(float)

In [364]:
split_and_add_column_hwy(df, 'Fuel Consumption Hwy')
df['Fuel Consumption Hwy'] = df['Fuel Consumption Hwy'].astype(float)

In [365]:
split_and_add_column_comb(df, 'Fuel Consumption Comb')
df['Fuel Consumption Comb'] = df['Fuel Consumption Comb'].astype(float)

In [367]:
df['Fuel Consumption City'] = pd.to_numeric(df['Fuel Consumption City'], errors='coerce')
df['Fuel Consumption Hwy'] = pd.to_numeric(df['Fuel Consumption Hwy'], errors='coerce')
df['Fuel Consumption Comb'] = pd.to_numeric(df['Fuel Consumption Comb'], errors='coerce')

In [368]:
df['Fuel Consumption City']=df['Fuel Consumption City'].fillna(np.nan)
df['Fuel Consumption Hwy']=df['Fuel Consumption Hwy'].fillna(np.nan)
df['Fuel Consumption Comb']=df['Fuel Consumption Comb'].fillna(np.nan)

In [369]:
df['Fuel Consumption City'] = df.apply(lambda row: convert_to_L_per_100km(row['Fuel Consumption City'], row['city_unit']), axis=1)
if ~df['city_unit'].isna().all():
    df['city_unit'] = 'L/100km'

In [370]:
df['Fuel Consumption Hwy'] = df.apply(lambda row: convert_to_L_per_100km(row['Fuel Consumption Hwy'], row['hwy_unit']), axis=1)
if ~df['hwy_unit'].isna().all():
    df['hwy_unit'] = 'L/100km'

In [371]:
df['Fuel Consumption Comb'] = df.apply(lambda row: convert_to_L_per_100km(row['Fuel Consumption Comb'], row['comb_unit']), axis=1)
if ~df['comb_unit'].isna().all():
    df['comb_unit'] = 'L/100km'

cleaning

In [372]:
#vehicle class
df['Vehicle Class'] = df['Vehicle Class'].str.replace('[^a-zA-Z\s]', '').str.upper()
invalid_values = ['MISSING', '-1', 'NOT-RECORDED', 'NA', 'UNSPECIFIED', 'UNKNOWN', 'UNESTABLISHED', 'NOT-AVAILABLE']
df['Vehicle Class'] = df['Vehicle Class'].replace(invalid_values, pd.NA)
df['Vehicle Class'].fillna('NA', inplace=True)
# Cylinders
df['Cylinders'] = pd.to_numeric(df['Cylinders'], errors='coerce')
df['Cylinders'] = np.where(df['Cylinders'] < 0, np.nan, df['Cylinders'])
df['Cylinders'].fillna(df['Cylinders'].mean(), inplace=True)
# Engine Size(L)
df['Engine Size(L)'] = pd.to_numeric(df['Engine Size(L)'], errors='coerce')
df['Engine Size(L)'] = np.where(df['Engine Size(L)'] < 0, np.nan, df['Engine Size(L)'])
df['Engine Size(L)'].fillna(df['Engine Size(L)'].mean(), inplace=True)
#transmission
transmission_na_values = ['unspecified', 'not-recorded', 'unknown', 'nan', 'missing', 'not-available', 'na', '-1', 'unestablished']
df['Transmission'] = df['Transmission'].replace(transmission_na_values, pd.NA)
df['Transmission'].fillna(value='NA', inplace=True)

#fuel type
fueltype_na_values = ['NA', 'D', 'missing', 'unspecified', 'not-recorded',
       'unknown', 'unestablished', 'na', 'not-available','-1']
df['Fuel Type'] = df['Fuel Type'].replace(fueltype_na_values, pd.NA)
df['Fuel Type'].fillna(value='NA', inplace=True)
#fuel city

<>:2: SyntaxWarning: invalid escape sequence '\s'
<>:2: SyntaxWarning: invalid escape sequence '\s'
C:\Users\UsEr\AppData\Local\Temp\ipykernel_7180\4055265698.py:2: SyntaxWarning: invalid escape sequence '\s'
  df['Vehicle Class'] = df['Vehicle Class'].str.replace('[^a-zA-Z\s]', '').str.upper()

In [382]:
df['Fuel Consumption City'] = df['Fuel Consumption City'].replace(0, df['Fuel Consumption City'].mean())
df['Fuel Consumption Hwy'] = df['Fuel Consumption Hwy'].replace(0, df['Fuel Consumption Hwy'].mean())
df['Fuel Consumption Comb'] = df['Fuel Consumption Comb'].replace(0, df['Fuel Consumption Comb'].mean())

KeyError: 'Fuel Consumption City'

In [374]:
condition = df['Fuel Consumption Comb'].isna() & ~df['Fuel Consumption City'].isna() & ~df['Fuel Consumption Hwy'].isna()
df.loc[condition,'Fuel Consumption Comb'] = (0.55 * df['Fuel Consumption City']) + 0.45 * (df['Fuel Consumption Hwy'])

In [375]:
condition_city = df['Fuel Consumption City'].isna()
df.loc[condition_city, 'Fuel Consumption City'] = df['Fuel Consumption City'].where(condition_city) + df['Fuel Consumption Hwy'].where(condition_city)
df.loc[condition_city, 'Fuel Consumption City'] = df['Fuel Consumption City'].where(condition_city) + df['Fuel Consumption Comb'].where(condition_city)

In [376]:
condition_hwy= df['Fuel Consumption Hwy'].isna()
df.loc[condition_hwy,'Fuel Consumption Hwy']= df['Fuel Consumption City']
df.loc[condition_hwy,'Fuel Consumption Hwy']= df['Fuel Consumption Comb']

In [377]:
df['Fuel Consumption City'] = df['Fuel Consumption City'].fillna(df['Fuel Consumption City'].mean())

In [378]:
df['Fuel Consumption Hwy']=df['Fuel Consumption Hwy'].fillna(df['Fuel Consumption Hwy'].mean())

In [379]:
df['Fuel Consumption Comb']=df['Fuel Consumption Comb'].fillna(df['Fuel Consumption Comb'].mean())

In [ ]:
make_data = df['Make'].unique()
make_data.sort()
make_data

In [ ]:
vehicle_class_data = df['Vehicle Class'].unique()
vehicle_class_data

In [ ]:
engine_size_data = df['Engine Size(L)'].unique()
print(engine_size_data)

In [ ]:
cylinders_data = df['Cylinders'].unique()
cylinders_data

In [ ]:
transmission_data = df['Transmission'].unique()
transmission_data

In [ ]:
fuel_type_data = df['Fuel Type'].unique()
fuel_type_data

In [ ]:
fuel_city_data = df['Fuel Consumption City'].unique()
print(fuel_city_data)

In [ ]:
df['CO2 Emissions(g/km)'].plot()

In [ ]:
df_train = pd.read_csv('train.csv')
df_city_train = df_train['Fuel Consumption City']
df_city_train.to_csv('city_train.csv', index=False)

In [ ]:
df_train = pd.read_csv('train.csv')
df_city_train = df_train['Fuel Consumption Hwy']
df_city_train.to_csv('hwy_train.csv', index=False)

In [ ]:
df_cleaned = pd.read_csv('city_train.csv')
df_cleaned_city = df_cleaned['Fuel Consumption City'].split()[1]
df_cleaned_city

In [381]:
df.rename(columns={'Fuel Consumption City': 'Fuel Consumption City (L/100km)',
                   'Fuel Consumption Hwy': 'Fuel Consumption Hwy (L/100km)',
                   'Fuel Consumption Comb': 'Fuel Consumption Comb (L/100km)'}, inplace=True)

df.drop(['city_unit', 'hwy_unit', 'comb_unit'], axis=1, inplace=True)
df.to_csv('cleaned_train.csv', index=False)